<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main_no_sidebar.html">
<div layout:fragment="myContent" >
    <div class="row">
        <div class="col-sm-8">
            <form th:action="@{'/editUser'}" method="post" class="form">
                <p th:if="${#request.getParameter('message')} != null" th:text="${#request.getParameter('message')}"></p>
                <p>
                    <label for="fullName" class="sr-only">FullName</label>
                    <input type="text" id="fullName" th:value="${user.fullName}" name="fullName" class="form-control"
                           placeholder="FullName" required autofocus/>
                </p>
                <p>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" minlength="6" name="password" class="form-control"
                           placeholder="Password" required autofocus/>
                </p>
                <p>
                    <label for="rePassword" class="sr-only">Password</label>
                    <input type="password" id="rePassword" minlength="6" name="rePassword" class="form-control"
                           placeholder="RePassword" required autofocus/>
                </p>
                <input type="hidden" name="id" th:value="${user.id}">

                <div class="form-group">
                    <select multiple name="roles" >
                        <option th:each = "i : ${roles}" th:value="${i.id}" th:text="${i.role}">
                        </option>
                    </select>
                </div>

                <button class="btn btn-success">Edit user</button>
            </form>
            <form th:action="@{/deleteUser}" method="post" class="form">
                <input type="hidden" name="id" th:value="${user.id}" >
                <button class="btn btn-success">Delete User</button>
            </form>
        </div>
    </div>
</div>
</html>