<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
    <div layout:fragment="myContent" >
        <div class="row">
            <div class="col-sm-8">
                <h1>
                    <span th:text = "${user.fullName}"></span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table cellpadding="20" class="table table-stripped" style="background-color: white">
                    <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            EMAIL
                        </th>
                        <th>
                            <span th:text="#{users.fullName}"></span>
                        </th>
                        <th>
                            <span th:text="#{users.edit}"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "usr : ${userList}">
                        <td th:text = "${usr.id}"></td>
                        <td th:text = "${usr.email}"></td>
                        <td th:text = "${usr.fullName}"></td>
                        <td th:each = "i : ${usr.roles}"  th:text="${i.role}"></td>
                        <td >
                            <a th:href = "@{'editUser/'+${usr.id}}" th:text="#{users.edit}">edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>