<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment="myContent">
    <div class="row">
        <div class="col-sm-12">
            <p th:if="${#request.getParameter('message')} != null" th:text="${#request.getParameter('message')}"></p>
            <table cellpadding="20" class="table table-stripped">
                <tbody>
                    <tr>
                        <td>
                            <span th:text="#{adminBook.name}"></span>
                        </td>
                        <td th:text = "${book.name}"></td>
                    </tr>
                    <tr>
                        <td>
                            <span th:text="#{adminBook.price}"></span>
                        </td>
                        <td th:text = "${book.price}"></td>
                    </tr>
                    <tr>
                        <td>
                            <span th:text="#{adminBook.author}"></span>
                        </td>
                        <td th:text = "${book.author}"></td>
                    </tr>
                    <tr>
                        <td>
                            <span th:text="#{adminBook.desc}"></span>
                        </td>
                        <td th:text = "${book.description}"></td>
                    </tr>
                    <tr>
                        <td>
                            <span th:text="#{adminBook.genre}"></span>
                        </td>
                        <td th:each = "i : ${book.genres}"  th:text="${i.name}"></td>
                    </tr>
                </tbody>
            </table>
<!--            <form th:action = "@{'/delete'}" method="post" sec:authorize="hasAnyRole('ROLE_ADMIN')">-->
<!--                <input type="hidden" th:value = "${item.id}" name="id">-->
<!--                <button class="btn btn-danger">DELETE ITEM</button>-->
<!--            </form>-->
                <form th:action = "@{'/addOrder'}" method="post" sec:authorize="isAuthenticated()">
                    <input type="hidden" th:value = "${book.id}" name="id">
                    <button class="btn btn-danger">
                        <span th:text="#{addToOrder}"></span>
                    </button>
                </form>
        </div>
    </div>
</div>
</html>