<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/main.html">
<div layout:fragment="myContent" >
    <div class="row" >
        <div class="col-sm-8">
            <form th:action="@{'/addBook'}" method="post" class="form" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <div class="form-group">
                    <label>
                        <span th:text="#{adminBook.name}"></span>
                    </label>
                    <input type="text" name="name" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label>
                        <span th:text="#{adminBook.price}"></span>
                    </label>
                    <input type="number" name="price" min="1" max="999999"class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label>
                        <span th:text="#{adminBook.author}"></span>
                    </label>
                    <input type="text" name="author" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label>
                        <span th:text="#{adminBook.desc}"></span>
                    </label>
                    <input type="text" name="description" class="form-control">
                </div>
                <div class="form-group">
                    <select multiple name="genre" required autofocus>
                        <option th:each = "i : ${genres}" th:value="${i.id}" th:text="${i.name}">
                        </option>
                    </select>
                </div>
                <button class="btn btn-success"><span th:text="#{adminBook.addButton}"></span></button>
            </form>
        </div>
    </div>
</div>
</html>